<div ng-if="isLoading">
    <div class="kart-loader">
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
    </div><div class="kart-loader">
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
        <div class="sheath">
            <div class="segment"></div>
        </div>
    </div>
</div>
<div class="">
    <div class="modal-header text-center">
        <div class="row">
            <h3 ng-if="personMode == 'employeeMode'" class="text-info col-lg-10">Employee Details</h3>
            <h3 ng-if="personMode == 'customerMode'" class="text-info col-lg-10">Customer Details</h3>
            <span id="closeModal" ng-click="closeModal()" class="col-lg-2 glyphicon glyphicon-remove"></span>
        </div>
    </div>
    <div class="modal-body" ng-if="!isLoading">
        <form id="personModalForm" ng-submit="modifyPerson(person)">
            <input type="hidden" name="Id" value="{{person.Id}}" />
            <div class="form-group row">
                <label class="text-info col-lg-4 col-md-4">FirstName</label>
                <input type="text" class="form-control input-lg" ng-model="person.FirstName" name="FirstName" required />
            </div>
            <div class="form-group row">
                <label class="text-info col-lg-4 col-md-4">LastName</label>
                <input type="text" class="form-control input-lg" ng-model="person.LastName" name="LastName" required />
            </div>
            <div class="form-group row">
                <label class="text-info col-lg-4 col-md-4">Phone</label>
                <input type="text" class="form-control input-lg" ng-model="person.Phone" name="Phone" required/>
            </div>
            <div class="form-group row">
                <label class="text-info col-lg-4 col-md-4">Address</label>
                <input type="text" class="form-control input-lg" ng-model="person.Address" name="Address" required />
            </div>
            <div class="form-group row">
                <label class="text-info col-lg-4 col-md-4">Date of birth</label>
                <input type="date" class="form-control input-lg" ng-model="person.DateOfBirth" name="DateOfBirth" required />
            </div>
            <div class="form-group row" ng-if="personMode == 'employeeMode'">
                <label class="text-info col-lg-4 col-md-4">Position</label>
                <select class="form-control input-group-lg" ng-model="person.Position" name="Position">
                    <option ng-repeat="position in positions">{{position.PositionTitle}}</option>
                </select>
            </div>
            <div class="form-group row" ng-if="mode == 'edit/deleteMode' && personMode == 'employeeMode'">
                <label class="text-info col-lg-4 col-md-4">Salary</label>
                <span class="col-lg-8 col-md-8">{{person.Salary}}</span>
            </div>
            <div ng-if="person.Machines.length !== 0 && mode == 'edit/deleteMode' && personMode == 'employeeMode'" class="form-group row">
                <label class="text-info col-lg-3 col-md-3">
                Machines
                </label>
                <ul class="list-unstyled col-lg-9 col-md-9">
                    <li class="list-group-item list-group-item-text" ng-repeat="machine in person.Machines">{{machine.Model}}</li>
                </ul>
            </div>
            <div class="form-group row" ng-if="personMode == 'customerMode'">
                <label class="text-info col-lg-4 col-md-4">Account</label>
                <input type="text" class="form-control input-lg" ng-model="person.Account" name="Account" required />
            </div>
            <div class="form-group row" ng-if="mode == 'edit/deleteMode'">
                <div class="col-lg-8">
                    <input type="submit" value="Update" class="form-control input-lg btn btn-info" />
                </div>
                <div class="col-lg-3">
                    <input type="button" class="btn btn-lg btn-danger" ng-click="deletePerson(person.Id)" value="Delete">
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="form-group row text-center" ng-if="mode == 'createMode'">
                <input type="submit" value="Create" class="form-control input-lg btn btn-success" />
            </div>
        </form>
    </div>
</div>
