body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: mediumturquoise;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#loginForm {
    margin-top: 20%;
}

    #loginForm input[type=submit] {
        width: 100%;
    }

.activeLink {
    background-color: lightgray;
}

.pagination {
    cursor: pointer;
}

#persons {
}

.container table tr {
    cursor: pointer;
    font-size: 16pt;
}

.nav li a {
    font-size: 16pt;
}

#dashboard {
    margin-top: 5%;
}

#menu, #content {
    background-color: white;
    margin: 5px;
    border-radius: 0px;
}

span[class="glyphicon glyphicon-pencil"]:hover {
    /*background-color: lightgray;*/
    cursor: pointer;
    border-radius: 2px;
}
form[action="/Dashboard/UpdateEmployee"]{
    font-size:15pt;
}
#editEmp{
    margin:10px;
}
#editEmp span:hover{
    cursor:pointer;
}
