body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: mediumturquoise;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#loginForm {
    margin-top: 20%;
    background-color:white;
}*/

#loginWrapper {
    margin-top: 25%;
    background-color:white;
    /*border: 4px solid blue;*/
    border-radius: 10px;
    padding:20px 30px 20px 30px;
}
#loginWrapper ul{
    list-style:none;
    font-size: 12pt;
}
#loginWrapper span{
    font-size: 12pt;
}

#loginWrapper .form-group{
    margin-top:10%;
}

#loginForm input[type=submit] {
    width: 100%;
}

.loginLabel{
    font-size:15pt;
}

.activeLink {
    background-color: lightgray;
}

.pagination {
    cursor: pointer;
}

#persons {
}

.container table tr {
    cursor: pointer;
    font-size: 16pt;
}

.nav li a {
    font-size: 16pt;
}

#dashboard {
    margin-top: 5%;
}

#menu, #content {
    background-color: white;
    margin: 5px;
    border-radius: 0px;
}

span[class="glyphicon glyphicon-pencil"]:hover {
    /*background-color: lightgray;*/
    cursor: pointer;
    border-radius: 2px;
}

form[action="/Employee/UpdateEmployee"], form[action="/Employee/UpdateEmployee"] select {
    font-size: 15pt;
}

#editEmp {
    margin: 10px;
}

    #editEmp span, #deleteEmp span:hover {
        cursor: pointer;
    }

    #editEmp span, #deleteEmp span {
        margin: 10px;
    }

#confirmDeleteBtnWrapper button {
    width: 80px;
}
