<div id="content" class="panel panel-body" style="min-height: 100px;border-radius:0px;">
    <loading-animation ng-if="isLoading"></loading-animation>
    <div id="searchPanel" class="text-info">
        <form class="navbar-form" ng-submit="searchForResults(search)">
            <div class="row form-group">
                <div class="col-lg-6 row">
                    <label class="col-lg-4">Customer name</label>
                    <input class="col-lg-8 input-lg" type="text" ng-model="search.CustomerName" ng-change="console.log(search)"/>
                </div>
                <div class="col-lg-6 row">
                    <label class="col-lg-4">Product title</label>
                    <input class="col-lg-8 input-lg" type="text" ng-model="search.ProductTitle" />
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="form-control btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </div>
        </form>
    </div>
    <div class="dataPanel" ng-if="!isLoading" style="font-size:15pt;">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Count</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody class="text-info">
                <tr class="addRow">
                    <td colspan="5" ng-click="showAddDialog()" class="text-center">
                        <span class="glyphicon glyphicon-plus">Add</span>
                    </td>
                </tr>
                <tr class="dataRow" ng-repeat="order in orders" ng-click="showDetailsInModal(order)">
                    <td>{{order.Id}}</td>
                    <td>{{order.CustomersFirstName + ' ' + order.CustomersLastName}}</td>
                    <td>{{order.Product}}</td>
                    <td>{{order.Quantity}}</td>
                    <td>{{order.TotalPrice}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination pagination-lg">
                <li ng-repeat="page in pagination.allPages track by $index"><a ng-click="getOrders($index + 1)">{{$index + 1}}</a></li>
            </ul>
        </div>
    </div>
</div>
