<div id="content" class="panel panel-body" style="min-height:100px;">
    <loading-animation ng-if="isLoading"></loading-animation>
    <div id="serachPanel" class="text-info" style="margin-bottom:10px;border-bottom:2px solid gray;">
        <form class="navbar-form" ng-submit="searchForResults(search)">
            <div class="row searchPanelArea">
                <div class="col-lg-6 form-group row">
                    <label class="col-lg-4">First Name</label>
                    <input class="col-lg-8 input-lg" type="search" ng-model="search.FirstName" />
                </div>
                <div class="col-lg-6 form-group row">
                    <label class="col-lg-4">Last Name</label>
                    <input class="col-lg-8 input-lg" type="search" ng-model="search.LastName" />
                </div>
            </div>
            <div class="row searchPanelArea">
                <div class="col-lg-6 form-group row">
                    <label class="col-lg-4">Address</label>
                    <input class="col-lg-8 input-lg" type="search" ng-model="search.Address" />
                </div>
                <div class="col-lg-6 form-group row">
                    <label class="col-lg-4">Phone</label>
                    <input class="col-lg-8 input-lg" type="search" ng-model="search.Phone" />
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="form-control btn btn-info">
                    <span class="glyphicon glyphicon-search" ></span>
                    Search
                </button>
            </div>
        </form>
    </div>
    <div ng-if="!isLoading">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th ng-if="mode == 'employeeMode'">Position</th>
                    <th ng-if="mode == 'customerMode'">Account</th>
                </tr>
            </thead>
            <tbody class="text-info">
                <tr id="addEmployeeRow"><td colspan="2" ng-click="showAddDialog()" class="text-center"><span class="glyphicon glyphicon-plus">Add</span></td></tr>
                <tr ng-repeat="person in persons" ng-click="showDetailsInModal(person)">
                    <td>{{person.FirstName + " " + person.LastName}}</td>
                    <td ng-if="mode == 'employeeMode'">{{person.Position}}</td>
                    <td ng-if="mode == 'customerMode'">{{person.AccountNumber}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination pagination-lg">
                <li ng-repeat="page in pagination.allPages track by $index"><a ng-click="getPersons($index + 1)">{{$index + 1}}</a></li>
            </ul>
        </div>
    </div>
</div>